<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Italianno&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Invitation</title>
  </head>
  <body class="relative">
    <main>
      <!-- Start: Music -->
      <audio id="backsound" loop>
        <source src="../audio/backsound.mp3" type="audio/mp3" />
      </audio>
      <fab-comp idComp="button-music"></fab-comp>
      <!-- End: Music -->

      <!-- Start: Hero -->
      <section id="hero" class="relative flex items-center justify-center hero">
        <img
          src="../images/content/wedding.jpg"
          alt="wedding"
          class="absolute inset-0 w-full h-full object-cover object-center"
        />
        <div class="layer"></div>
        <div class="absolute z-30 text-white text-center">
          <h2 class="thumbnails-wedding">The Wedding of</h2>
          <h1 class="thumbnails w-full mx-auto my-3">Dimas & Kiki</h1>
          <h2 class="thumbnails-date">22 . 05 . 2021</h2>
          <div id="countdown" data-aos="zoom-in-up"></div>
        </div>
      </section>
      <!-- End: Hero -->

      <!-- Start: Surat -->
      <section
        id="surat"
        class="flex flex-col lg:flex-row justify-center py-24 overflow-x-hidden"
      >
        <div
          class="surat-text-base w-full lg:w-2/4 flex flex-col justify-center items-center"
        >
          <h2 class="surat-title" data-aos="fade-right" data-aos-duration="500">
            We Are Together
          </h2>
          <span
            class="inline-block w-14 border-t-2 border-black my-8"
            data-aos="fade-right"
            data-aos-duration="500"
          ></span>
          <div
            class="surat-text w-full text-center"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <text-comp
              content="And of His signs is that He created for you from yourselves mates
            that you may find tranquility in them; and He placed between you
            affection and mercy. Indeed in that are signs for a people who
            give thought."
              className="font-light text-lg leading-loose text-gray-500 px-4"
            >
            </text-comp>
            <text-comp
              content="(Ar-Rum : 21)"
              className="italic font-semibold text-gray-900"
            ></text-comp>
          </div>
        </div>
      </section>
      <!-- End: Surat -->

      <!-- Start: profiles -->
      <section
        id="profiles"
        class="relative flex justify-center items-center pb-11 px-0 md:px-12"
      >
        <div
          class="cards container w-full flex flex-col md:flex-row justify-center"
        >
          <!-- Start: Card 1 -->
          <div
            data-aos="flip-right"
            data-aos-delay="200"
            data-aos-duration="600"
          >
            <card-profile
              idComp="male"
              imgSrc="https://picsum.photos/200"
              altImg="Foto dari si Lorem"
              nameProfile="Lorem"
              fullName="Lorem, ipsum dolor sit amet"
              fatherName="Pak Ipsum"
              motherName="Bu Amet"
              linkIG="#"
              usernameIG="@inak"
            ></card-profile>
          </div>
          <!-- End: Card 1 -->

          <p
            class="quicksand text-8xl font-bold self-center m-24 md:mx-10 lg:mx-24 text-green-full-dark"
          >
            &
          </p>

          <!-- Start: Card 2 -->
          <div
            data-aos="flip-right"
            data-aos-delay="350"
            data-aos-duration="600"
          >
            <card-profile
              idComp="male"
              imgSrc="https://picsum.photos/200"
              altImg="Foto dari si Lorem"
              nameProfile="Lorem"
              fullName="Lorem, ipsum dolor sit amet"
              fatherName="Pak Ipsum"
              motherName="Bu Amet"
              linkIG="#"
              usernameIG="@inak"
            ></card-profile>
          </div>
          <!-- End: Card 2 -->
        </div>
      </section>
      <!-- End: profiles -->

      <!-- Start: Process -->
      <section
        id="process"
        class="flex flex-col items-center justify-center px-5 sm:px-10 lg:px-32 pb-11"
      >
        <div class="container max-w">
          <!-- Start: article 1 -->
          <article-comp
            title="How we Meet"
            years="2021"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam, accusantium saepe? Minima id labore numquam corrupti,
          eos nemo repellendus a?"
            imgSrc="../images/content/wedding.jpg"
            altImg=""
          ></article-comp>

          <!-- End: Article 1 -->

          <!-- Start: Article 2 -->
          <article-comp
            title="How we Meet"
            years="2021"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam, accusantium saepe? Minima id labore numquam corrupti,
          eos nemo repellendus a?"
            imgSrc="../images/content/wedding.jpg"
            altImg=""
            isReverse="false"
          ></article-comp>

          <!-- End: Article 2 -->

          <!-- Start: Article 3 -->
          <article-comp
            title="How we Meet"
            years="2021"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam, accusantium saepe? Minima id labore numquam corrupti,
          eos nemo repellendus a?"
            imgSrc="../images/content/wedding.jpg"
            altImg=""
          ></article-comp>

          <!-- End: Article 3 -->
        </div>
      </section>
      <!-- End: Process -->

      <!-- Start: Date -->
      <section
        id="date"
        class="relative flex items-center w-full h-screen xl:h-auto bg-gray-100 p-0 md:p-5 text-white text-center quicksand"
      >
        <img
          data-src="../images//content/wedding.jpg"
          alt=""
          class="lazy absolute w-full h-full inset-0 object-cover object-center"
        />
        <div class="absolute w-full h-full inset-0 bg-white opacity-60"></div>
        <div
          class="date-wrapper container relative flex flex-col items-center justify-center w-full md:w-8/12 h-full rounded-none md:rounded-4xl mx-auto overflow-hidden py-7"
        >
          <!-- background -->
          <img
            src="../images/content/wedding.jpg"
            alt="bg"
            class="absolute inset-0 w-full h-full object-cover object-center z-10"
            decoding="async"
          />
          <div class="layer"></div>
          <!-- background -->
          <div
            class="date-icon-header w-24 mb-9 sm:mb-16 z-50"
            data-aos="zoom-in-up"
          >
            <img src="../images/design/wedding-ring.svg" alt="icon" />
          </div>
          <div class="w-full z-40">
            <div class="date-wedding">
              <text-comp content="Sunday"></text-comp>
              <div class="flex justify-center" data-aos="fade-down">
                <p class="text-right text-6xl font-extrabold mr-3">28</p>
                <p class="text-left text-lg">February <br />2021</p>
              </div>
            </div>
            <div
              class="date-akad-reception-wrapper flex flex-col sm:flex-row justify-around my-8"
            >
              <div class="date-akad my-2" data-aos="fade-right">
                <text-comp
                  content="Akad Nikah"
                  className="text-3xl font-bold mb-2"
                ></text-comp>
                <text-comp content="08:00 - 10:00"></text-comp>
              </div>
              <div class="date-reception my-2" data-aos="fade-left">
                <text-comp
                  content="Resepsi"
                  className="text-3xl font-bold mb-2"
                ></text-comp>
                <text-comp content="11:00 - 12:00"></text-comp>
              </div>
            </div>
            <div class="date-location" data-aos="fade-up">
              <p class="font-bold text-lg">Aula Caraka Yudha</p>
              <p>
                Jalan Perumahan Jatijajar , Jatijajar, Kecamatan Tapos
                <br />Kota Depok
              </p>
              <button-comp
                idComp="btn-view-map"
                variant="secondary"
                text="View Map"
                data-aos="zoom-out"
                data-aos-delay="150"
                data-aos-duration="550"
              ></button-comp>
            </div>
          </div>
        </div>
      </section>
      <!-- End: Date -->

      <!-- Start: Live Streaming -->
      <section id="live" class="flex justify-center px-5 sm:px-10 lg:px-32">
        <div class="container max-w flex flex-col items-center px-8 py-7 mt-4">
          <img
            data-src="../images/design/youtube.svg"
            alt="Youtube"
            class="lazy w-16 mb-6"
            width="64"
            height="64"
          />

          <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">Virtual Wedding</h2>
            <text-comp
              content="We regret to inform you that considering the Covid-19 pandemic,
            not all friends are allowed to attend our wedding. We’re still
            utterly in love, but it’s important to us that everyone stays
            safe, so we plan to publish our wedding virtually via Live Youtube
            that you can join through the following link:"
            >
            </text-comp>
          </div>
          <br />
          <button-comp
            idComp="btn-live-stream"
            text="Live Steaming"
            data-aos="zoom-out"
            data-aos-delay="150"
            data-aos-duration="550"
          ></button-comp>
        </div>
      </section>
      <!-- End: Live Streaming -->

      <!-- Start: gallery -->
      <section
        id="gallery"
        class="flex flex-col items-center justify-center mt-10 mb-16"
      >
        <div class="container img-gallery-big w-full m-2">
          <img
            src="../images/content/wedding.jpg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div
          id="lightgallery"
          class="w-full img-gallery-big grid grid-cols-8 gap-0"
        >
          <a
            href="../images/content/wedding.jpg"
            class="inline-block col-span-4 sm:col-span-6 md:col-span-2 relative h-44 m-1"
          >
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </a>
          <a
            href="../images/content/wedding.jpg"
            class="inline-block col-span-4 sm:col-span-2 md:col-span-2 relative h-44 m-1"
          >
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </a>
          <a
            href="../images/content/wedding.jpg"
            class="inline-block col-span-4 sm:col-span-2 md:col-span-2 relative h-44 m-1"
          >
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </a>
          <a
            href="../images/content/wedding.jpg"
            class="inline-block col-span-4 sm:col-span-6 md:col-span-2 relative h-44 m-1"
          >
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </a>
        </div>
      </section>
      <!-- End: Gallery -->

      <!-- Start: prokes -->
      <section
        id="prokes"
        class="flex flex-col justify-center items-center px-5 sm:px-10 lg:px-3 py-7 bg-green-dark"
      >
        <div class="text-center text-white">
          <h2 class="text-2xl font-semibold mb-4">Patuhi Protokol Kesehatan</h2>
          <text-comp
            content="Tetap patuhi protokol kesehatan, demi menjaga kesehatan dan keamanan
          bersama."
          >
          </text-comp>
        </div>
        <div
          class="prokes-card-wrapper w-full flex flex-col md:flex-row justify-center items-center"
        >
          <image-caption
            imgSrc="../images/design/distance.svg"
            caption="Memakai Masker"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="150"
          ></image-caption>

          <image-caption
            imgSrc="../images/design/mask.svg"
            caption="Menjaga jarak"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="300"
          ></image-caption>

          <image-caption
            imgSrc="../images/design/liquid-soap.svg"
            caption="Cuci Tangan"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="450"
          ></image-caption>
        </div>
      </section>
      <!-- End: proker -->

      <!-- Start: wish -->
      <section
        id="wish"
        class="w-full flex flex-col items-center justify-center pt-14 pb-9"
      >
        <h2 class="title">Doa & Harapan</h2>
        <div class="container flex flex-col items-center relative">
          <div class="w-full md:w-3/4 mb-5 px-4 sm:px-0">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center">
                  <card-comp
                    title="Candra"
                    content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorem porro nostrum tempora maxime doloremque illo
                  tenetur labore dicta numquam molestias?"
                  ></card-comp>
                </div>
                <div class="swiper-slide flex items-center">
                  <card-comp
                    title="Tsubasa"
                    content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorem porro nostrum tempora maxime doloremque illo
                  tenetur labore dicta numquam molestias?"
                  ></card-comp>
                </div>
                <div class="swiper-slide flex items-center">
                  <card-comp
                    title="Roberto"
                    content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorem porro nostrum tempora maxime doloremque illo
                  tenetur labore dicta numquam molestias?"
                  ></card-comp>
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>

          <div class="w-full flex justify-center" id="formContainer"></div>
        </div>
      </section>
      <!-- End: wish -->
    </main>
  </body>
</html>
