<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pernikahan Kiki & Dimas</title>
    <meta charset="UTF-8" />
    <meta name="title" content="Pernikahan Kiki &amp; Dimas" />
    <meta
      name="description"
      content="Anda di undang untuk menghadiri Pernikahan Kiki &amp; Dimas"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Pernikahan Kiki &amp; Dimas" />
    <meta
      itemprop="description"
      content="Anda di undang untuk menghadiri Pernikahan Kiki &amp; Dimas"
    />
    <meta itemprop="image" content="../images/content/hero.jpeg" />

    <!-- Open Graph -->
    <meta property="og:image" content="../images/content/hero.jpeg" />
    <meta property="og:title" content="Pernikahan Kiki &amp; Dimas" />
    <meta
      property="og:description"
      content="Anda di undang untuk menghadiri Pernikahan Kiki &amp; Dimas"
    />
    <meta property="og:type" content="article" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="682" />
    <meta property="og:site_name" content="Pernikahan Kiki &amp; Dimas" />

    <!-- <meta property='og:url' content='https://grinvitation.com/uchaheruwedding'> -->
    <!-- Icons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../images/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../images/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../images/icons/android-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../images/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../images/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../images/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../images/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../images/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../images/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../images/icons/favicon-96x96.png"
    />
    <!-- manifest -->
    <link rel="manifest" href="../images/icons/manifest.json" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruthie&family=Italianno&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="../images/design/favicon.ico" />
  </head>
  <body class="relative" id="body">
    <!-- Start: Open Invitation -->
    <invite-comp idComp="inv-comp"></invite-comp>
    <!-- End: Open Invitation -->

    <main id="main" class="hidden">
      <!-- Start: Music -->
      <audio id="backsound" loop>
        <source src="../audio/backsound.mp3" type="audio/mp3" />
      </audio>
      <fab-comp idComp="button-music"></fab-comp>
      <!-- End: Music -->

      <!-- Start: Hero -->
      <section id="hero" class="relative flex items-center justify-center hero">
        <img
          src="../images/content/hero.jpeg"
          alt="wedding"
          class="absolute inset-0 w-full h-full object-cover object-center"
        />
        <div class="layer"></div>
        <div class="absolute z-30 text-white text-center">
          <h2 class="thumbnails-wedding">The Wedding of</h2>
          <h1 class="thumbnails w-full mx-auto my-3">Kiki & Dimas</h1>
          <h2 class="thumbnails-date">22 . 05 . 2021</h2>
          <div id="countdown" data-aos="zoom-in-up"></div>
        </div>
      </section>
      <!-- End: Hero -->

      <!-- Start: Surat -->
      <section
        id="surat"
        class="flex flex-col lg:flex-row justify-center py-24 overflow-x-hidden"
      >
        <div
          class="surat-text-base relative w-full lg:w-2/4 flex flex-col justify-center items-center"
        >
          <h2
            class="surat-title z-30"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            We Are Together
          </h2>
          <span
            class="inline-block w-10 border-t-2 border-black mt-8"
            data-aos="fade-right"
            data-aos-duration="500"
          ></span>
          <img
            src="../images/content/leaf.webp"
            alt="decoration"
            class="w-32 absolute -top-3 z-20"
            data-aos="fade-down"
            data-aos-duration="500"
          />
          <div
            class="surat-text w-full text-center z-30"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <text-comp
              content="Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang. Sungguh, pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir. "
              className="font-light text-lg leading-loose text-gray-500 px-4"
            >
            </text-comp>
            <text-comp
              content="(Ar-Rum : 21)"
              className="italic font-semibold text-gray-900"
            ></text-comp>
          </div>
        </div>
      </section>
      <!-- End: Surat -->

      <!-- Start: profiles -->
      <section
        id="profiles"
        class="relative flex justify-center items-center pb-20 px-0 md:px-12"
      >
        <div
          class="cards container w-full flex flex-col md:flex-row justify-center"
        >
          <!-- Start: Card 1 -->
          <div
            data-aos="flip-right"
            data-aos-delay="250"
            data-aos-duration="600"
          >
            <card-profile
              idComp="female"
              imgSrc="../images/content/kiki.webp"
              altImg="Foto dari dr. Kiki Zoelyana "
              nameProfile="Kiki"
              fullName="dr. Kiki Zoelyana "
              fatherName="Bapak Zulkarnain"
              motherName="Ibu Mariana"
              linkIG="https://instagram.com/wafazoyaa?igshid=1audn2o95131e"
              usernameIG="@wafazoya"
            ></card-profile>
          </div>
          <!-- End: Card 1 -->

          <p
            class="quicksand text-8xl font-bold self-center m-24 md:mx-10 lg:mx-24 text-green-full-dark"
          >
            &
          </p>

          <!-- Start: Card 2 -->
          <div
            data-aos="flip-right"
            data-aos-delay="400"
            data-aos-duration="600"
          >
            <card-profile
              idComp="male"
              imgSrc="../images/content/dimas.webp"
              altImg="Foto dari Dimas Arif Prasetya, S.Kom"
              nameProfile="Dimas"
              fullName="Dimas Arif Prasetya, S.Kom"
              fatherName="Bapak Hartono"
              motherName="Ibu Siti Nursikhah "
              linkIG="https://instagram.com/d_masprasetya?igshid=2gw6ms6dd0d5"
              usernameIG="@d_masprasetya "
            ></card-profile>
          </div>
          <!-- End: Card 2 -->
        </div>
      </section>
      <!-- End: profiles -->

      <!-- Start: Process -->
      <section
        id="process"
        class="flex flex-col items-center justify-center px-5 sm:px-10 lg:px-32 pb-11 hidden"
      >
        <div class="container max-w">
          <!-- Start: article 1 -->
          <!-- <article-comp
            title="How we Meet"
            years="2021"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam, accusantium saepe? Minima id labore numquam corrupti,
          eos nemo repellendus a?"
            imgSrc="../images/content/image-3.jpeg"
            altImg=""
          ></article-comp> -->

          <!-- End: Article 1 -->

          <!-- Start: Article 2 -->
          <!-- <article-comp
            title="How we Meet"
            years="2021"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aliquam, accusantium saepe? Minima id labore numquam corrupti,
          eos nemo repellendus a?"
            imgSrc="../images/content/image-5.jpeg"
            altImg=""
            isReverse="false"
          ></article-comp> -->

          <!-- End: Article 2 -->
        </div>
      </section>
      <!-- End: Process -->

      <!-- Start: Date -->
      <section
        id="date"
        class="relative flex items-center w-full h-screen xl:h-auto bg-gray-100 p-0 md:p-5 text-white text-center quicksand"
      >
        <img
          data-src="../images/content/hero.jpeg"
          alt=""
          class="lazy absolute w-full h-full inset-0 object-cover object-center"
        />
        <div class="absolute w-full h-full inset-0 bg-white opacity-70"></div>
        <div
          class="date-wrapper container relative flex flex-col items-center justify-center w-full md:w-8/12 h-full rounded-none md:rounded-4xl mx-auto overflow-hidden py-7"
        >
          <!-- background -->
          <img
            src="../images/content/image-2.jpeg"
            alt="bg"
            class="absolute inset-0 w-full h-full object-cover object-center z-10"
            decoding="async"
          />
          <div class="layer"></div>
          <!-- background -->
          <div
            class="date-icon-header w-24 mb-9 sm:mb-16 z-50"
            data-aos="zoom-in-up"
          >
            <img src="../images/design/wedding-ring.svg" alt="icon" />
          </div>
          <div class="w-full z-40">
            <div class="date-wedding">
              <text-comp content="Saturday"></text-comp>
              <div class="flex justify-center" data-aos="fade-down">
                <p class="text-right text-6xl font-extrabold mr-3">22</p>
                <p class="text-left text-lg">Mei <br />2021</p>
              </div>
            </div>
            <div
              class="date-akad-reception-wrapper flex flex-col sm:flex-row justify-around my-8"
            >
              <div class="date-akad my-2" data-aos="fade-right">
                <text-comp
                  content="Akad Nikah"
                  className="text-3xl font-bold mb-2"
                ></text-comp>
                <text-comp content="08:00 - selesai"></text-comp>
              </div>
              <div class="date-reception my-2" data-aos="fade-left">
                <text-comp
                  content="Resepsi"
                  className="text-3xl font-bold mb-2"
                ></text-comp>
                <text-comp content="13:00 - selesai"></text-comp>
              </div>
            </div>
            <div class="date-location" data-aos="fade-up">
              <p>
                Jl. Yos Sudarso Km 14.5, Kamp. Bahari No.61, <br />
                Martubung, Medan Labuhan.
              </p>
              <button-comp
                idComp="btn-view-map"
                variant="secondary"
                text="Lihat Map"
                data-aos="zoom-out"
                data-aos-delay="150"
                data-aos-duration="550"
              ></button-comp>
            </div>
          </div>
        </div>
      </section>
      <!-- End: Date -->

      <!-- Start: Live Streaming -->
      <section id="live" class="flex justify-center px-5 sm:px-10 lg:px-32">
        <div class="container max-w flex flex-col items-center px-8 py-7 mt-4">
          <img
            data-src="../images/design/youtube.svg"
            alt="Youtube"
            class="lazy w-16 mb-6"
            width="64"
            height="64"
          />

          <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">Virtual Wedding</h2>
            <text-comp
              content="Kami menyesal memberi tahu Anda bahwa mengingat pandemi Covid-19, tidak semua teman diizinkan menghadiri pernikahan kami. Kami masih benar-benar menyayangkan, tetapi penting bagi kami bahwa semua orang tetap tinggal aman, jadi kami berencana untuk mempublikasikan pernikahan kami secara virtual melalui Youtube Langsung yang dapat Anda ikuti melalui tautan berikut:"
            >
            </text-comp>
          </div>
          <br />
          <button-comp
            idComp="btn-live-stream"
            text="Live Streaming"
            data-aos="zoom-out"
            data-aos-delay="150"
            data-aos-duration="550"
          ></button-comp>
        </div>
      </section>
      <!-- End: Live Streaming -->

      <!-- Start: gallery -->
      <section
        id="gallery"
        class="flex flex-col items-center justify-center mt-10 mb-16"
      >
        <div class="container img-gallery-big w-full m-2">
          <img src="../images/content/hero.jpeg" alt="" class="w-full h-full" />
        </div>
        <div
          id="lightgallery"
          class="w-full img-gallery-big grid grid-cols-8 gap-0"
        >
          <a
            href="../images/content/hero.jpeg"
            class="col-span-4 sm:col-span-6 md:col-span-2 relative h-56 m-1 hidden"
          >
            <img
              src="../images/content/hero.jpeg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-top"
            />
          </a>
          <a
            href="../images/content/image-9.jpeg"
            class="img-gallery-thumb inline-block col-span-4 sm:col-span-6 md:col-span-2 relative h-56 m-1"
          >
            <img
              src="../images/content/image-9.jpeg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-top"
            />
          </a>
          <a
            href="../images/content/image-4.jpeg"
            class="img-gallery-thumb inline-block col-span-4 sm:col-span-2 md:col-span-2 relative h-56 m-1"
          >
            <img
              src="../images/content/image-4.jpeg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-top"
            />
          </a>
          <a
            href="../images/content/image-8.jpeg"
            class="img-gallery-thumb inline-block col-span-4 sm:col-span-2 md:col-span-2 relative h-56 m-1"
          >
            <img
              src="../images/content/image-8.jpeg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-top"
            />
          </a>
          <a
            href="../images/content/image-7.jpeg"
            class="img-gallery-thumb inline-block col-span-4 sm:col-span-6 md:col-span-2 relative h-56 m-1"
          >
            <img
              src="../images/content/image-7.jpeg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-top sm:object-bottom md:object-top"
            />
          </a>
        </div>
      </section>
      <!-- End: Gallery -->

      <!-- Start: prokes -->
      <section
        id="prokes"
        class="flex flex-col justify-center items-center px-5 sm:px-10 lg:px-3 py-7 bg-green-dark"
      >
        <div class="text-center text-white">
          <h2 class="text-2xl font-semibold mb-4">Patuhi Protokol Kesehatan</h2>
          <text-comp
            content="Tetap patuhi protokol kesehatan, demi menjaga kesehatan dan keamanan
          bersama."
          >
          </text-comp>
        </div>
        <div
          class="prokes-card-wrapper w-full flex flex-col md:flex-row justify-center items-center"
        >
          <image-caption
            imgSrc="../images/design/distance.svg"
            caption="Memakai Masker"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="150"
          ></image-caption>

          <image-caption
            imgSrc="../images/design/mask.svg"
            caption="Menjaga jarak"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="300"
          ></image-caption>

          <image-caption
            imgSrc="../images/design/liquid-soap.svg"
            caption="Cuci Tangan"
            data-aos="flip-down"
            data-aos-duration="500"
            data-aos-delay="450"
          ></image-caption>
        </div>
      </section>
      <!-- End: proker -->

      <!-- Start: wish -->
      <section
        id="wish"
        class="w-full flex flex-col items-center justify-center pt-14 pb-9"
      >
        <h2 class="title">Doa & Harapan</h2>
        <div class="container flex flex-col items-center relative">
          <div class="w-full md:w-3/4 mb-5 px-4 sm:px-0">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>

          <div class="w-full flex justify-center" id="formContainer"></div>
        </div>
      </section>
      <!-- End: wish -->
    </main>
    <spinner-comp></spinner-comp>
    <error-comp></error-comp>
  </body>
</html>
