<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Italianno&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>Invitation</title>
  </head>
  <body class="relative">
    <main>
      <!-- Start: Music -->
      <audio id="backsound" loop>
        <source src="../audio/backsound.mp3" type="audio/mp3" />
      </audio>
      <button
        class="fixed right-5 bottom-5 w-16 h-16 shadow-xl text-xl rounded-full bg-white text-green-dark z-50 transition-all duration-150"
        id="button-music"
      >
        <i class="fas fa-play"></i>
      </button>
      <!-- End: Music -->

      <!-- Start: Hero -->
      <section
        id="hero"
        class="relative h-screen flex items-center justify-center hero"
      >
        <img
          src="../images/content/wedding.jpg"
          alt="wedding"
          class="absolute inset-0 w-full h-full object-cover object-center"
        />
        <div class="layer"></div>
        <div class="absolute z-30 text-white text-center">
          <h2 class="thumbnails-wedding">The Wedding of</h2>
          <h1 class="thumbnails w-full mx-auto my-3">Dimas & Kiki</h1>
          <h2 class="thumbnails-date">22 . 05 . 2021</h2>
        </div>
      </section>
      <!-- End: Hero -->

      <!-- Start: Surat -->
      <section
        id="surat"
        class="flex flex-col lg:flex-row justify-center py-24"
      >
        <div
          class="surat-text-base w-full lg:w-2/4 flex flex-col justify-center items-center"
        >
          <h2 class="surat-title">We Are Together</h2>
          <span class="inline-block w-14 border-t-2 border-black my-8"></span>
          <div class="surat-text w-full text-center">
            <p class="font-light text-lg leading-loose text-gray-500">
              And of His signs is that He created for you from yourselves mates
              that you may find tranquility in them; and He placed between you
              affection and mercy. Indeed in that are signs for a people who
              give thought.
            </p>
            <p class="italic font-semibold text-gray-900">(Ar-Rum : 21)</p>
          </div>
        </div>
      </section>
      <!-- End: Surat -->

      <!-- Start: profiles -->
      <section
        id="profiles"
        class="relative flex justify-center items-center pb-32 px-0 md:px-12"
      >
        <div
          class="cards container w-full flex flex-col md:flex-row justify-center"
        >
          <!-- Start: Card 1 -->
          <div class="card flex flex-col items-center">
            <div
              class="relative card-img w-60 h-60 rounded-full overflow-hidden"
            >
              <img
                src="https://picsum.photos/200"
                alt=""
                class="absolute w-full h-full inset-0 object-cover object-center"
              />
            </div>
            <div class="card-body py-6 text-center">
              <h3
                class="inline-block text-green-dark text-4xl font-semibold pb-9 border-b border-black bad-script"
              >
                Lorem
              </h3>
              <h4
                class="text-2xl my-5 text-green-full-dark font-extrabold quicksand"
              >
                Lorem, ipsum dolor sit amet
              </h4>
              <p class="mt-6 text-xl leading-relaxed text-green-dark quicksand">
                <span class="font-bold text-green-dark">Putri dari:</span>
                <br />
                Pak Ipsum <br />
                & <br />
                Bu Amet
              </p>
            </div>
            <div class="card-footer">
              <a
                href="#"
                class="relative inline-flex items-center w-12 group hover:w-24 h-12 cursor-pointer transition-all duration-300"
              >
                <button
                  class="absolute left-0 w-12 h-12 bg-green-dark text-white text-lg rounded-full z-20"
                >
                  <i class="fab fa-instagram text-2xl"></i>
                </button>
                <span
                  class="absolute right-0 transition-all duration-200 opacity-0 group-hover:opacity-100 italic font-light"
                  >@inak</span
                >
              </a>
            </div>
          </div>
          <!-- End: Card 1 -->

          <p
            class="quicksand text-8xl font-bold self-center m-24 md:mx-10 lg:mx-24 text-green-full-dark"
          >
            &
          </p>

          <!-- Start: Card 2 -->
          <div class="card flex flex-col items-center">
            <div
              class="relative card-img w-60 h-60 rounded-full overflow-hidden"
            >
              <img
                src="https://picsum.photos/200"
                alt=""
                class="absolute w-full h-full inset-0 object-cover object-center"
              />
            </div>
            <div class="card-body py-6 text-center">
              <h3
                class="inline-block text-green-dark text-4xl font-semibold pb-9 border-b border-black bad-script"
              >
                Libero
              </h3>
              <h4
                class="text-2xl my-5 text-green-full-dark font-extrabold quicksand"
              >
                Libero sunt quos accusamus
              </h4>
              <p class="mt-6 text-xl leading-relaxed text-green-dark quicksand">
                <span class="font-bold text-green-dark">Putra dari:</span>
                <br />
                Pak Dolor <br />
                & <br />
                Bu Elit
              </p>
            </div>
            <div class="card-footer">
              <a
                href="#"
                class="relative inline-flex items-center w-12 group hover:w-24 h-12 cursor-pointer transition-all duration-300"
              >
                <button
                  class="absolute left-0 w-12 h-12 bg-green-dark text-white text-lg rounded-full z-20"
                >
                  <i class="fab fa-instagram text-2xl"></i>
                </button>
                <span
                  class="absolute right-0 transition-all duration-200 opacity-0 group-hover:opacity-100 italic font-light"
                  >@inak</span
                >
              </a>
            </div>
          </div>
          <!-- End: Card 2 -->
        </div>
      </section>
      <!-- End: profiles -->

      <!-- Start: Process -->
      <section
        id="process"
        class="flex flex-col items-center justify-center px-5 sm:px-10 lg:px-32"
      >
        <div class="container max-w">
          <!-- Start: article 1 -->
          <article
            class="story my-8 container flex flex-col-reverse md:flex-row"
          >
            <div
              class="process-text w-full md:w-2/4 px-8 flex flex-col justify-center"
            >
              <h2 class="text-2xl font-semibold">How We Meet</h2>
              <span
                class="inline-block text-xl text-gray-600 italic tracking-tighter mb-5"
                >2021</span
              >
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, accusantium saepe? Minima id labore numquam corrupti,
                eos nemo repellendus a?
              </p>
            </div>
            <div
              class="process-img-wrapper w-full md:w-2/4 h-64 sm:h-72 lg:h-96 mb-5"
            ></div>
          </article>
          <!-- End: Article 1 -->

          <!-- Start: Article 2 -->
          <article class="story my-8 container flex flex-col md:flex-row">
            <div
              class="process-img-wrapper w-full md:w-2/4 h-64 sm:h-72 lg:h-96 bg-pink-200 mb-5"
            ></div>
            <div
              class="process-text w-full md:w-2/4 px-8 flex flex-col justify-center"
            >
              <h2 class="text-2xl font-semibold">How We Meet</h2>
              <span
                class="inline-block text-xl text-gray-600 italic tracking-tighter mb-5"
                >2021</span
              >
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, accusantium saepe? Minima id labore numquam corrupti,
                eos nemo repellendus a?
              </p>
            </div>
          </article>
          <!-- End: Article 2 -->

          <!-- Start: Article 3 -->
          <article
            class="story my-8 container flex flex-col-reverse md:flex-row"
          >
            <div
              class="process-text w-full md:w-2/4 px-8 flex flex-col justify-center"
            >
              <h2 class="text-2xl font-semibold">How We Meet</h2>
              <span
                class="inline-block text-xl text-gray-600 italic tracking-tighter mb-5"
                >2021</span
              >
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, accusantium saepe? Minima id labore numquam corrupti,
                eos nemo repellendus a?
              </p>
            </div>
            <div
              class="process-img-wrapper w-full md:w-2/4 h-64 sm:h-72 lg:h-96 bg-pink-200 mb-5"
            ></div>
          </article>
          <!-- End: Article 4 -->
        </div>
      </section>
      <!-- End: Process -->

      <!-- Start: Date -->
      <section
        id="date"
        class="relative flex items-center w-full h-screen xl:h-auto bg-gray-100 p-0 md:p-5 text-white text-center quicksand"
      >
        <img
          src="../images//content/wedding.jpg"
          alt=""
          class="absolute w-full h-full inset-0 object-cover object-center"
        />
        <div class="absolute w-full h-full inset-0 bg-white opacity-60"></div>
        <div
          class="date-wrapper container relative flex flex-col items-center justify-center w-full md:w-8/12 h-full rounded-none md:rounded-4xl mx-auto overflow-hidden py-7"
        >
          <!-- background -->
          <img
            src="../images/content/wedding.jpg"
            alt="bg"
            class="absolute inset-0 w-full h-full object-cover object-center z-10"
            decoding="async"
          />
          <div class="layer"></div>
          <!-- background -->
          <div class="date-icon-header w-24 mb-9 sm:mb-16 z-50">
            <img src="../images/design/wedding-ring.svg" alt="icon" />
          </div>
          <div class="w-full z-40">
            <div class="date-wedding">
              <p>Sunday</p>
              <div class="flex justify-center">
                <p class="text-right text-6xl font-extrabold mr-3">28</p>
                <p class="text-left text-lg">February <br />2021</p>
              </div>
            </div>
            <div
              class="date-akad-reception-wrapper flex flex-col sm:flex-row justify-around my-8"
            >
              <div class="date-akad my-2">
                <p class="text-3xl font-bold mb-2">Akad Nikah</p>
                <p>08:00 - 10:00</p>
              </div>
              <div class="date-reception my-2">
                <p class="text-3xl font-bold mb-2">Resepsi</p>
                <p>11:00 - 12:00</p>
              </div>
            </div>
            <div class="date-location">
              <p class="font-bold text-lg">Aula Caraka Yudha</p>
              <p>
                Jalan Perumahan Jatijajar , Jatijajar, Kecamatan Tapos
                <br />Kota Depok
              </p>

              <a
                href="https://www.google.co.id/maps/place/Widya+Wicara+(PT.+Widya+Informasi+Nusantara)/@-7.7528293,110.3975666,17z/data=!3m1!4b1!4m5!3m4!1s0x2e7a592ac896ebb5:0xaa73f66867c276df!8m2!3d-7.7528392!4d110.3997873"
                class="inline-block my-6"
              >
                <button
                  class="bg-yellow-200 text-black py-3 px-6 border border-black"
                >
                  View Map
                </button>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End: Date -->

      <!-- Start: Live Streaming -->
      <section id="live" class="flex justify-center px-5 sm:px-10 lg:px-32">
        <div class="container max-w flex flex-col items-center px-8 py-7 mt-4">
          <img
            src="../images/design/youtube.svg"
            alt="Youtube"
            class="w-16 mb-6"
          />

          <div class="text-center">
            <h2 class="text-2xl font-semibold mb-4">Virtual Wedding</h2>
            <p>
              We regret to inform you that considering the Covid-19 pandemic,
              not all friends are allowed to attend our wedding. We’re still
              utterly in love, but it’s important to us that everyone stays
              safe, so we plan to publish our wedding virtually via Live Youtube
              that you can join through the following link:
            </p>
          </div>
          <a
            href="#"
            class="btn py-3 px-8 text-center bg-green-700 hover:bg-green-dark text-white 700 transition-all duration-200 my-7 font-semibold rounded-md"
          >
            Live Streaming
          </a>
        </div>
      </section>
      <!-- End: Live Streaming -->

      <!-- Start: gallery -->
      <section
        id="gallery"
        class="flex flex-col items-center justify-center mt-10 mb-16"
      >
        <div class="container img-gallery-big w-full m-2">
          <img
            src="../images/content/wedding.jpg"
            alt=""
            class="w-full h-full"
          />
        </div>
        <div class="flex justify-center">
          <div class="relative w-56 h-44 m-1">
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </div>
          <div class="relative w-56 h-44 m-1">
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </div>
          <div class="relative w-56 h-44 m-1">
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </div>
          <div class="relative w-56 h-44 m-1">
            <img
              src="../images/content/wedding.jpg"
              alt=""
              class="absolute inset-0 w-full h-full object-cover object-center"
            />
          </div>
        </div>
      </section>
      <!-- End: Gallery -->

      <!-- Start: prokes -->
      <section
        id="prokes"
        class="flex flex-col justify-center items-center px-5 sm:px-10 lg:px-3 py-7 bg-green-dark"
      >
        <div class="text-center text-white">
          <h2 class="text-2xl font-semibold mb-4">Ikuti Protokol Kesehatan</h2>
          <p>
            Tetap patuhi protokol kesehatan, demi menjaga kesehatan dan keamanan
            bersama.
          </p>
        </div>
        <div
          class="prokes-card-wrapper w-full flex flex-col md:flex-row justify-center items-center"
        >
          <figure
            class="mx-10 mt-10 mb-10 md:mb-0 flex flex-col justify-center items-center text-white"
          >
            <img
              src="../images/design/distance.svg"
              alt="Jaga jarak"
              class="w-24 mb-4"
            />
            <figcaption class="text-lg font-semibold">Menjaga jarak</figcaption>
          </figure>

          <figure
            class="mx-10 mt-10 mb-10 md:mb-0 flex flex-col justify-center items-center text-white"
          >
            <img
              src="../images/design/mask.svg"
              alt="Memaakai Masker"
              class="w-24 mb-4"
            />
            <figcaption class="text-lg font-semibold">
              Memakai Masker
            </figcaption>
          </figure>

          <figure
            class="mx-10 mt-10 mb-10 md:mb-0 flex flex-col justify-center items-center text-white"
          >
            <img
              src="../images/design/liquid-soap.svg"
              alt="Menggunakan Hand Sanitizer"
              class="w-24 mb-4"
            />
            <figcaption class="text-lg font-semibold">
              Menggunakan <br />
              Hand Sanitizer
            </figcaption>
          </figure>
        </div>
      </section>
      <!-- End: proker -->

      <!-- Start: wish -->
      <section
        id="wish"
        class="w-full flex flex-col items-center justify-center pt-14 pb-9"
      >
        <h2 class="title">Doa & Harapan</h2>
        <div class="container flex flex-col items-center relative">
          <div class="w-full md:w-3/4 mb-5 px-4 sm:px-0">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center">
                  <div
                    class="w-full p-5 rounded-md shadow-lg bg-white mx-auto my-6"
                  >
                    <h4 class="font-semibold text-green-full-dark">Candra</h4>
                    <p class="text-sm text-gray-600">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Dolorem porro nostrum tempora maxime doloremque illo
                      tenetur labore dicta numquam molestias?
                    </p>
                  </div>
                </div>
                <div class="swiper-slide flex items-center">
                  <div
                    class="w-full p-5 rounded-md shadow-lg bg-white mx-auto my-6"
                  >
                    <h4 class="font-semibold text-green-full-dark">Tsubasa</h4>
                    <p class="text-sm text-gray-600">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Dolorem porro nostrum tempora maxime doloremque illo
                      tenetur labore dicta numquam molestias?
                    </p>
                  </div>
                </div>
                <div class="swiper-slide flex items-center">
                  <div
                    class="w-full p-5 rounded-md shadow-lg bg-white mx-auto my-6"
                  >
                    <h4 class="font-semibold text-green-full-dark">Roberto</h4>
                    <p class="text-sm text-gray-600">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Dolorem porro nostrum tempora maxime doloremque illo
                      tenetur labore dicta numquam molestias?
                    </p>
                  </div>
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>

          <div class="w-full flex justify-center">
            <form action="#" class="w-full md:w-2/4 my-5 px-4">
              <label class="block mb-4">
                <span class="text-gray-700 font-medium">Nama</span>
                <input
                  type="text"
                  class="mt-2 block w-full py-2 px-5 bg-gray-100 rounded-md border border-transparent shadow-sm focus:border-gray-500 focus:bg-white"
                  placeholder=""
                />
              </label>
              <label class="block mb-4">
                <span class="text-gray-700 font-medium">Doa & Harapan</span>
                <textarea
                  class="mt-2 block w-full py-2 px-5 bg-gray-100 rounded-md border border-transparent shadow-sm focus:border-gray-500 focus:bg-white"
                  rows="8"
                ></textarea>
              </label>
              <label class="block mb-4">
                <span class="text-gray-700 font-medium block mb-2"
                  >Maukah kamu hadir ?</span
                >
                <input type="radio" name="kehadiran" id="hadir" value="hadir" />
                <label for="hadir" class="mr-4">Ya, saya akan hadir</label>
                <input
                  type="radio"
                  name="kehadiran"
                  id="tidakHadir"
                  value="tidak hadir"
                />
                <label for="tidakHadir" class="mr-4"
                  >Maaf, belum bisa hadir</label
                >
              </label>
              <button
                type="submit"
                href="#"
                class="btn w-full py-3 px-8 text-center bg-green-700 hover:bg-green-dark text-white 700 transition-all duration-200 my-7 font-semibold rounded-md"
              >
                Kirim
              </button>
            </form>
          </div>
        </div>
      </section>
      <!-- End: wish -->
    </main>
  </body>
</html>
