@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #profiles {
    @apply w-full;
    min-height: 90vh;
  }

  #surat {
    @apply w-full;
    min-height: 70vh;
  }

  #surat .surat-img-wrapper {
    max-width: 340px;
    min-height: 514px;
  }

  #surat .surat-text {
    font-family: 'Quicksand', sans-serif;
  }

  #surat .surat-title {
    @apply text-4xl font-bold;
    font-family: 'Bad Script', cursive;
    color: #596257;
  }

  .thumbnails {
    @apply text-6xl font-semibold py-4;
    font-family: 'Bad Script', cursive;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  }

  .thumbnails-wedding,
  .thumbnails-date {
    @apply text-2xl opacity-80 tracking-widest font-normal leading-5;
    font-family: 'Italianno', cursive;
  }

  .layer {
    @apply absolute inset-0 bg-black opacity-60 z-20;
  }

  .quicksand {
    font-family: 'Quicksand', sans-serif;
  }

  .bad-script {
    font-family: 'Bad Script', cursive;
  }

  .italianno {
    font-family: 'Italianno', cursive;
  }
}
