@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}

@layer components {
  #hero {
    min-height: 85vh;
  }

  #profiles {
    @apply w-full;
  }

  #surat {
    @apply w-full;
  }

  #surat .surat-img-wrapper {
    max-width: 340px;
    min-height: 514px;
  }

  #surat .surat-text {
    font-family: 'Quicksand', sans-serif;
  }

  #surat .surat-title {
    @apply text-4xl font-bold;
    font-family: 'Ruthie', cursive;
    color: #596257;
  }

  .thumbnails {
    @apply text-6xl py-4;
    font-family: 'Ruthie', cursive;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  }

  .thumbnails-wedding,
  .thumbnails-date {
    @apply text-2xl opacity-80 tracking-widest font-normal leading-5;
    font-family: 'Italianno', cursive;
  }

  .layer {
    @apply absolute inset-0 bg-black opacity-60 z-20;
  }

  .quicksand {
    font-family: 'Quicksand', sans-serif;
  }

  .bad-script {
    font-family: 'Ruthie', cursive;
  }

  .italianno {
    font-family: 'Italianno', cursive;
  }

  #date {
    height: max-content;
  }

  .swiper-container,
  .swiper-container-2 {
    width: 100%;
    height: 100%;
  }

  .img-gallery-big {
    max-width: 917px;
  }

  #wish .title {
    @apply text-4xl font-bold;
    font-family: 'Ruthie', cursive;
    color: #596257;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #3a3a3a !important;
  }

  .input-text {
    @apply mt-2 block w-full py-2 px-5 bg-gray-100 rounded-md border border-transparent shadow-sm focus:border-gray-500 focus:bg-white;
  }

  .spinner-wrapper {
    @apply hidden fixed inset-0 bg-white;
    z-index: 11111111111;
  }

  .spinner-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  .error-wrapper {
    @apply hidden fixed inset-0 bg-white;
    z-index: 11111111111;
  }

  .error-wrapper .error-wrapper-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1200px) and (min-height: 1000px) {
    .date-wrapper {
      max-width: 1080px;
      min-height: 804px;
    }

    .max-w {
      max-width: 1080px;
    }
  }
}
